/* *{
    border: 1px solid black
} */

body{
    height: 100vh;
    /* border: 1px solid black */

}
.mainDashBoardDiv{
    /* padding:"0 1rem 1rem 1rem"; */
    /* flex: 1; */
    display: grid;
    grid-template-columns: 4% 29% 64%;
    /* border: 1px solid black; */
    gap: 1%;
    height: 90%;

}

.settingsDiv , .profileSettingsDiv,.dashBoardIcons , .chatHeader, .chatsDiv , .messageDiv{
    display: flex;
    flex-direction: column;
}

.settingsDiv{
    justify-content: space-between;
    padding : 1rem;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.dashBoardIcons{
    height: 10rem;
    justify-content: space-evenly;
    /* font-size: 30rem; */
}

.profileSettingsDiv{
    height: 7rem;
    gap: 1rem;
    justify-content: space-between;

}

.pointer:hover{
    cursor: pointer;
}

/* ChatsDiv ==============================> */

.chatsDiv{
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 0.5rem 0 0 0;
    /* border: 1px solid black; */
    background-color: rgb(252, 252, 252);
}

.chatHeader{
    gap: 1rem;
    width: 100%;
    font-size: 1.5rem;
}
.chatHeader>h3{
    align-self: start;
}

.chatForm{
    width: 90%;
    margin: 0 auto;
}
.input:focus{
        /* border: none ; */
        outline: none;
}

.chatForm .button{
        border: none   
}
/* Conversation =============================> */
.conversation{
    width: 100%;
}
.conversationContainer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    height:4rem;
}
.profilePic , .userInfoConversation{
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.userInfoConversation{
    height: 100%;
    flex-direction: column;
}

.messages{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235,234,230);
    background-image: url('../assets/img/naail-hussain-LV-FzX-l78c-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 0.5rem 0;
}

.message{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 27rem;
    overflow: auto;
}

.chatBubble{
    max-height: 2rem; 
    align-self: baseline;
    padding: 0.7rem;
}